# Chapter 2 - Data Preparation Basics
## Segment 1 - Filtering and selecting data

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

### Selecting and retrieving data
You can write an index value in two forms.
- Label index or 
- Integer index

In [3]:
series_obj = Series(np.arange(8), index=['row1', 'row2', 'row3', 'row4', 'row5', 'row6', 'row7', 'row8'])
series_obj

row1    0
row2    1
row3    2
row4    3
row5    4
row6    5
row7    6
row8    7
dtype: int64

In [5]:
# Indexing by label
series_obj['row7']

6

In [6]:
# Indexing by integer
series_obj[[0, 7]]

row1    0
row8    7
dtype: int64

In [12]:
# Creating a DataFrame
np.random.seed(25)
DF_obj = DataFrame(np.random.rand(36).reshape((6, 6)), 
                   index=['row1', 'row2', 'row3', 'row4', 'row5', 'row6'], 
                   columns=['column1', 'column2', 'column3', 'column4', 'column5', 'column6'])
DF_obj

       column1   column2   column3   column4   column5   column6
row1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [11]:
DF_obj.loc[['row2', 'row5'], ['column5', 'column2']]

       column5   column2
row2  0.402366  0.437611
row5  0.421004  0.559053

### Data slicing
You can use slicing to select and return a slice of several values from a data set. Slicing uses index values so you can use the same square brackets when doing data slicing.

How slicing differs, however, is that with slicing you pass in two index values that are separated by a colon. The index value on the left side of the colon should be the first value you want to select. On the right side of the colon, you write the index value for the last value you want to retrieve. When you execute the code, the indexer then simply finds the first record and the last record and returns every record in between them.

In [13]:
series_obj['row3':'row7']

row3    2
row4    3
row5    4
row6    5
row7    6
dtype: int64

### Comparing with scalars
Now we're going to talk about comparison operators and scalar values. Just in case you don't know that a scalar value is, it's basically just a single numerical value. You can use comparison operators like greater than or less than to return true/false values for all records to indicate how each element compares to a scalar value.

In [17]:
DF_obj < .2

      column1  column2  column3  column4  column5  column6
row1    False    False    False     True    False     True
row2    False    False    False    False    False     True
row3    False    False     True    False    False    False
row4    False    False    False    False    False    False
row5    False    False     True    False    False    False
row6    False    False    False    False    False    False

In [18]:
# showing values less than .2
DF_obj[DF_obj < .2]

      column1  column2   column3   column4  column5   column6
row1      NaN      NaN       NaN  0.185911      NaN  0.117376
row2      NaN      NaN       NaN       NaN      NaN  0.113041
row3      NaN      NaN  0.161985       NaN      NaN       NaN
row4      NaN      NaN       NaN       NaN      NaN       NaN
row5      NaN      NaN  0.034450       NaN      NaN       NaN
row6      NaN      NaN       NaN       NaN      NaN       NaN

### Filtering with scalars

In [20]:
series_obj[series_obj > 6]

row8    7
dtype: int64

### Setting values with scalars

In [22]:
series_obj['row1', 'row5', 'row8'] = 8
series_obj

row1    8
row2    1
row3    2
row4    3
row5    8
row6    5
row7    6
row8    8
dtype: int64

Filtering and selecting using Pandas is one of the most fundamental things you'll do in data analysis. Make sure you know how to use indexing to select and retrieve records.