### Notes on Ch 6: Data Loading, Storage, and File Formats

Pandas provides various functions to read tabular data into a DataFrame. The most commonly used function is `pandas.read_csv`, which reads delimited data from a file, URL, or file-like object. Other functions are available for different formats, such as Excel, JSON, HDF5, and more.

#### Reading and Writing Data in Text Format

The `read_csv` function is extensively used to convert text data into a DataFrame. It has various optional arguments to handle different scenarios:

* <b>Indexing</b>

You can treat one or more columns as the returned DataFrame and specify whether to get column names from the file or from arguments you provide.

* <b>Type Inference and Data Conversion</b>

This involves user-defined value conversions and specifying a custom list of missing value markers.

* <b>Date and Time Parsing</b>

The `parse_dates` argument helps combine date and time information spread over multiple columns into a single column.

* <b>Date and Time Parsing</b>

Support for iterating over chunks of very large files is provided.

* <b>Unclean Data Issues</b>

Handling unclean data issues includes skipping rows or a footer, dealing with comments, and addressing numeric data with thousands separated by commas.

In [1]:
import pandas as pd

# Reading a CSV file with a header row
df = pd.read_csv("../data/ex1.csv")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
# File without a Header

df_no_header = pd.read_csv("../data/ex2.csv", header=None)
print(df_no_header)
print("")
# Adding a header
df_custom_header = pd.read_csv("../data/ex2.csv", names=['a', 'b', 'c', 'd', 'message'])
print(df_custom_header)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
# Using a Column as an Index
df_indexed = pd.read_csv("../data/ex2.csv", names=['a', 'b', 'c', 'd', 'message'], index_col='message')
df_indexed

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [8]:
# Hierarchical Indexing
parsed = pd.read_csv("../data/csv_mindex.csv", index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [10]:
# Handling Whitespace-delimited File
result = pd.read_csv("../data/ex3.txt", sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [11]:
# Skipping Rows
skipped_rows = pd.read_csv("../data/ex4.csv", skiprows=[0, 2, 3])
skipped_rows

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
# Handling Missing Values
result_missing = pd.read_csv("../data/ex5.csv")
print(result_missing)
print("")
result_custom_missing = pd.read_csv("../data/ex5.csv", na_values=['NULL'])
print(result_custom_missing)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

##### Reading Text Files in Pieces

When dealing with large files, it may be practical to read only a small portion or iterate through chunks of the file. The `pandas.read_csv` function allows you to achieve this.

In this example, we read the entire file, then read only the first 5 rows, and finally, we read the file in chunks of 1000 rows, aggregating the value counts for the "key" column.

In [3]:
# Setting display to show only 10 rows for brevity
pd.options.display.max_rows = 10

# Reading the entire file
result = pd.read_csv("../data/ex6.csv")
print(result)
print("")

# Reading only a few rows
subset_result = pd.read_csv("../data/ex6.csv", nrows=5)
print(subset_result)
print("")

# Reading the file in chunks (chunksize=1000)
chunker = pd.read_csv("../data/ex6.csv", chunksize=1000)
print(type(chunker)) # Returns a TextFileReader object
print("")

# Iterating over the chunks
tot = pd.Series([], dtype='int64')

for piece in chunker:
    tot = tot.add(piece["key"].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)
print(tot[:10])

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

<class 'pandas.io.parsers.readers.TextFileReader'>

key
E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

##### Writing Data to Text Format

You can export data from a DataFrame to a delimited format using the to_csv method. Here's an example:

In [4]:
# Reading a CSV file
df = pd.read_csv("../data/ex5.csv")
df

# Writing a CSV file
df.to_csv("../data/out.csv")

This code reads a CSV file into a DataFrame and then writes the DataFrame back to a new CSV file named "out.csv."

You can customize the delimiter, handle missing values, and control whether to include index and header information in the output. Here are a few examples:

In [8]:
import sys

# Writing data with a different delimiter (pipe '|')
df.to_csv(sys.stdout, sep='|')
print("")

# Writing data with a specific representation for missing values
df.to_csv(sys.stdout, na_rep="NULL")
print("")

# Writing data without including index and header
df.to_csv(sys.stdout, index=False, header=False)
print("")

# Writing only a subset of columns
df.to_csv(sys.stdout, index=False, columns=["a", "b", "c"])

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

a,b,c
1,2,3.0
5,6,
9,10,11.0

##### Working with Other Delimited Formats

If you encounter a file with a format not easily handled by `pandas.read_csv`, you can resort to Python's built-in csv module. Here's a step-by-step example:

In [10]:
import csv

# Reading a CSV file using csv.reader
##  First, we read the file into a list of lines:
with open("../data/ex7.csv") as f:
    lines = list(csv.reader(f))

# Separating header and values
header, values = lines[0], lines[1:]

# Creating a dictionary of data columns
data_dict = {h: v for h, v in zip(header, zip(*values))}
print(data_dict)

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

You can also define your CSV dialect using a subclass of csv.Dialect or provide individual options as keywords. The possible options include delimiter, lineterminator, quotechar, quoting, skipinitialspace, and doublequote. For more complicated cases, manual parsing using string methods or regular expressions might be necessary.

In [12]:
# Defining a custom CSV dialect
class my_dialect(csv.Dialect):
    lineterminator = "\n"
    delimiter = ";"
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

# Using the custom dialect with csv.reader
#reader = csv.reader(f, dialect=my_dialect)

# Alternatively, using individual CSV dialect parameters
#reader = csv.reader(f, delimiter="|")

##### JSON data

JSON (JavaScript Object Notation) is a widely used data format for exchanging information between a server and a web application. In Python, the `json` module is commonly used to work with JSON data. Here's a brief example:

In [13]:
import json

obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

# Converting JSON to Python
result = json.loads(obj)
print(result)
print("")

# Converting Python to JSON
asjson = json.dumps(result)
print(asjson)

{'name': 'Wes', 'places_lived': ['United States', 'Spain', 'Germany'], 'pet': None, 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']}, {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}

In this example, `json.loads` is used to convert a JSON-formatted string (obj) into a Python object, and `json.dumps` converts the Python object back to a JSON-formatted string.

You can also work directly with JSON data using the `pandas.read_json` function:

In [14]:
# Reading JSON data into a DataFrame
data = pd.read_json("../data/example.json")
print(data)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

##### XML and HTML: Web Scraping

Python has several libraries for parsing HTML and XML data, such as lxml, Beautiful Soup, and html5lib. The `pandas.read_html` function uses these libraries to automatically parse tables out of HTML files as DataFrame objects.

In [5]:
from lxml import objectify

path = "../data/Performance_MNR.xml"

with open(path) as f:
    parsed = objectify.parse(f)

root = parsed.getroot()

# Parsing XML data into a list of dictionaries
data = []

skip_fields = ["PARENT_SEQ", "INDICATOR_SEQ", "DESIRED_CHANGE", "DECIMAL_PLACES"]

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

# Converting the list of dictionaries into a DataFrame
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,95.0,96.9,95.0,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,95.0,96.0,95.0,95.0
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,95.0,96.3,95.0,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,95.0,96.8,95.0,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,95.0,96.6,95.0,95.8

Alternatively, you can use the pd.read_xml function, which simplifies the process:

In [6]:
perf2 = pd.read_xml(path)
perf2.head()

,INDICATOR_SEQ,PARENT_SEQ,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,DESIRED_CHANGE,INDICATOR_UNIT,DECIMAL_PLACES,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,U,%,1,95.00,96.90,95.00,96.90
1,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,U,%,1,95.00,96.00,95.00,95.00
2,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,U,%,1,95.00,96.30,95.00,96.90
3,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,U,%,1,95.00,96.80,95.00,98.30
4,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,U,%,1,95.00,96.60,95.00,95.80

#### Binary Data Formats

* <b>Pickle</b>

One way to store data in binary format is using Python's built-in pickle module. Pandas objects have a `to_pickle` method that writes the data to disk in pickle format. However, it's essential to note that pickled files are generally readable only in Python.

In [7]:
frame = pd.read_csv("../data/ex1.csv")
print(frame)
print("")
frame.to_pickle("../data/frame_pickle")

pd.read_pickle("../data/frame_pickle")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Pickle is recommended for short-term storage due to potential issues with format stability over time. It might not guarantee compatibility between different library versions.

Pandas has built-in support for several other binary data formats, including HDF5, ORC, and Apache Parquet.

* <b>HDF5</b>

HDF5 is a file format suitable for storing large scientific array data. It supports compression, making it efficient for handling large datasets that may not fit into memory.

In [3]:
fec = pd.read_parquet("../data/fec.parquet")
fec.head()

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num
0,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290,RETIRED,RETIRED,250.0,20-JUN-11,None,None,None,SA17A,736166
1,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290,RETIRED,RETIRED,50.0,23-JUN-11,None,None,None,SA17A,736166
2,C00410118,P20002978,"Bachmann, Michelle","SMITH, LANIER",LANETT,AL,368633403,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,05-JUL-11,None,None,None,SA17A,749073
3,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,724548253,NONE,RETIRED,250.0,01-AUG-11,None,None,None,SA17A,749073
4,C00410118,P20002978,"Bachmann, Michelle","WARDENBURG, HAROLD",HOT SPRINGS NATION,AR,719016467,NONE,RETIRED,300.0,20-JUN-11,None,None,None,SA17A,736166

* <b>Microsoft Excel Files</b>

Pandas supports reading tabular data stored in Excel files using either `pandas.ExcelFile` or `pandas.read_excel`. It internally uses add-on packages like xlrd and openpyxl.

In [6]:
xlsx = pd.ExcelFile("../data/ex1.xlsx")
print(xlsx.sheet_names)
xlsx.parse(sheet_name="Sheet1", index_col=0)

['Sheet1']

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Alternatively, using pandas.read_excel directly:

In [7]:
frame = pd.read_excel("../data/ex1.xlsx", "Sheet1")
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

* <b>HDF5 Format</b>

HDF5 (Hierarchical Data Format version 5) is a file format designed for storing large quantities of scientific array data. Pandas provides a high-level interface to HDF5 through the `HDFStore` class.

In [12]:
# Example: Writing to HDF5
frame = pd.DataFrame({"a": np.random.randn(100)})
store = pd.HDFStore("../data/mydata.h5")
store["obj1"] = frame
store["obj1_col"] = frame["a"]

In [13]:
# Example: Reading from HDF5
store["obj1"]
store.put("obj2", frame, format="table")
store.select("obj2", where=["index >= 10 and index <= 15"])
store.close()

In [15]:
# Pandas read and write shortcuts
#frame.to_hdf("../data/mydata.h5", "obj3", format="table")
#pd.read_hdf("../data/mydata.h5", "obj3", where=["index < 5"])

#### Interacting with Web APIs

To access data from web APIs in Python, the `requests` package is recommended.

In [18]:
import requests

# GitHub API URL for pandas repository issues
url = "https://api.github.com/repos/pandas-dev/pandas/issues"

# Sending a GET request to the URL
resp = requests.get(url)
resp.raise_for_status() # Check for HTTP errors

# Parse JSON data
data = resp.json()

# Creating a DataFrame from the JSON data
issues = pd.DataFrame(data, columns=["number", "title", "labels", "state"])

issues.head()

,number,title,labels,state
0,56024,BUG: setitem using `loc` not aligning on index?,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
1,56023,[Docstring] Update a link to SQLAlchemy docume...,[],open
2,56022,DEPR (PDEP-7/CoW): deprecate and remove `copy`...,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
3,56021,BUG: `Series[int]` coerces `pyarrow` types to ...,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
4,56020,CoW warning mode: setting values into single c...,"[{'id': 2085877452, 'node_id': 'MDU6TGFiZWwyMD...",open

#### Interacting with Databases

In business settings, data is often stored in relational databases. Pandas simplifies loading the results of a SQL query into a DataFrame. Here's an example using SQLite3:

In [19]:
import sqlite3

# Create SQLite database
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

con = sqlite3.connect("../data/mydata.sqlite")
con.execute(query)
con.commit()

# Insert data into the table
data = [("Atlanta", "Georgia", 1.25, 6),
        ("Tallahassee", "Florida", 2.6, 3),
        ("Sacramento", "California", 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

# Select data from the table
cursor = con.execute("SELECT * FROM test")
rows = cursor.fetchall()

# Create a DataFrame from the query results
df_from_db = pd.DataFrame(rows, columns=[x[0] for x in cursor.description])
df_from_db

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

For more abstraction and compatibility between SQL databases, the `SQLAlchemy` project can be used. Here's an example of reading data from the SQLite database using SQLAlchemy:

In [2]:
import sqlalchemy as sqla

# Create an SQLAlchemy engine
db = sqla.create_engine("sqlite:///../data/mydata.sqlite")

# Read data from the table using pandas read_sql
df_from_sqlalchemy = pd.read_sql("SELECT * FROM test", db)
df_from_sqlalchemy

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5